
.advantages {
  padding: 0;
  list-style: none;
}

.advantages__item {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;

  @include strong-text(17px, 20px);

  &::before {
    content: "img";
    display: block;
    width: 50px;
    height: 50px;
  }
}
