
.button {
  display: block;
  padding: 20px;
  border: 2px solid $gray-color-dark;
  text-align: center;

  @include stront-text(17px, 20px);
  color: $gray-color-dark;
  text-transform: uppercase;
}
