
.button {
  display: block;
  padding: 15px;
  border: 2px solid $gray-color-dark;
  text-align: center;
  background-color: $main-backgound-color;

  @include strong-text(17px, 20px);
  color: $gray-color-dark;
  text-transform: uppercase;
}
