
.button {
  display: block;
  padding: 20px;
  border: 2px solid $main-gray-color;
  text-align: center;

  @include stront-text(17px, 20px);
  color: $main-gray-color;
  text-transform: uppercase;
}
