.catalog {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__item {
  margin-bottom: 30px;
}

.catalog__product-card {
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .catalog__item {
    margin-bottom: 53px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    display: flex;
    justify-content: space-between;
  }

  .catalog__item {
    margin-bottom: 55px;
  }
}
