
.categories {
  margin: 0;
  padding: 0;
  list-style: none;
}

.categories__item {
  padding: 30px;
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $style-color-light;

  &:nth-child(even) {
    background-color: $style-color-dark;
  }

  &.categories__item_interior::after {
    content: "";
    width: 65px;
    height: 65px;
    position: absolute;
    right: 30px;
    background-image: url("../img/icon-interior.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }

  &.categories__item_toy::after {
    content: "";
    width: 65px;
    height: 65px;
    position: absolute;
    right: 30px;
    background-image: url("../img/icon-toy.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.categories__link {
  width: 130px;

  @include strong-text(19px, 24px);
  color: #ffffff;
  text-align: center;
}
