.form-content__container {
  min-width: 260px;
  padding: 0 30px;
  padding-top: 25px;
  padding-bottom: 55px;
}

.form-content__description {
  margin: 0;
  margin-bottom: 20px;

  @include main-text(13px, 24px);
}

@media (min-width: $tablet-width) {
  .form-content__container {
    padding: 0;
    padding-top: 58px;
    padding-bottom: 50px;
  }

  .form-content__description {
    width: 668px;
    margin: 0 auto;
    padding: 0 50px;
    margin-bottom: 11px;

    @include main-text(17px, 30px);
  }
}

@media (min-width: $desktop-width) {
  .form-content__container {
    padding-top: 100px;
    padding-bottom: 50px;
    margin: 0 auto;
  }

  .form-content__description {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 7px;
  }
}
