
.form-group {
  min-width: 260px;
  padding: 30px 0;
  border: none;
  border-top: 1px solid $style-color-light;
}

.form-group__title {
  min-width: 60px;

  @include strong-text(17px, 20px, $style-color-light);
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .form-group {
    padding: 50px;
    padding-left: 217px;
    width: 501px;
    border: none;
    position: relative;
  }

  .form-group__title {
    position: absolute;
    left: 50px;
    top: 75px;
  }

  .form-group_doubled {
    padding-top: 0;

    .form-group__title {
      top: 20px;
    }
  }

  .form-group__wrap-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .form-group {
    padding-left: 225px;
    width: 875px;
  }
}
