
.front-header {
  background-color: #f9f9f9;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: center 60px;
  background-repeat: no-repeat;
  background-size: auto 380px;
}

.front-header__lead {
  min-height: 182px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  margin: 0;
  padding: 30px;
  padding-top: 70px;

  @include strong-text(27px, 30px);
}

@media (max-width: $mobile-width-only) and (min-resolution: 144dpi),
  (max-width: $mobile-width-only) and (min-resolution: 1.5dppx) {
  .front-header {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: auto 380px;
  }
}

@media (min-width: $tablet-width) {
  .front-header {
    background-image: url("../img/hero-tablet@1x.jpg");
    background-size: auto 750px;
    background-position: center 85px;
  }

  .front-header__lead {
    min-height: 423px;
    width: 558px;
    padding: 50px;
    padding-top: 152px;
    margin: 0 auto;

    @include strong-text(43px, 50px);
  }
}

@media (min-width: $tablet-width) and (min-resolution: 144dpi),
  (min-width: $tablet-width) and (min-resolution: 1.5dppx) {
  .front-header {
    background-image: url("../img/hero-tablet@2x.jpg");
    background-size: auto 750px;
  }
}

@media (min-width: $desktop-width) {
  .front-header {
    background-image: url("../img/hero-desktop@1x.jpg");
  }

  .front-header__lead {
    width: 700px;

    @include strong-text(53px, 57px);
  }
}

@media (min-width: $desktop-width) and (min-resolution: 144dpi),
  (min-width: $desktop-width) and (min-resolution: 1.5dppx) {
  .front-header {
    background-image: url("../img/hero-desktop@2x.jpg");
  }
}
