.logo {
  display: flex;
  height: 59px;
  padding-top: 20px;
}

.logo__image {
  display: block;
  margin: auto;
  vertical-align: middle;
}

.logo__image_footer:hover {
  fill: $style-color-light;
}

.logo__image_footer:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .logo {
    padding: 0;
  }

  .logo__image {
    width: 115px;
    height: 50px;
  }
}

@media (min-width: $desktop-width) {
  .logo__image {
    width: 160px;
    height: 70px;
  }
}
