.logo {
  display: flex;
  width: 100px;
  height: 50px;
}

.logo__image {
  display: block;
  margin: auto;
}

.logo__image_footer:hover {
  path {
    fill: $style-color-light;
  }
}

.logo__image_footer:active {
  opacity: 0.3;
}
