
.main-nav__menu-list {
  margin: 0;
  padding: 0;
  list-style: none
}

.main-nav__item {
  padding: 10px 30px;
  min-height: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $light-gray-color;
}

.main-nav__link {
  @include stront-text(17px, 24px);
}
