@media (min-width: $tablet-width) {
  .main-content {
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: -10px;
      right: 0;
      left: 0;
      width: 100%;
      height: 25px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-size: contain;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-content {
    position: relative;

    &::before {
      top: -15px;
      height: 40px;
    }
  }
}
