.main-nav__menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  padding: 10px 30px;
  min-height: 59px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid $gray-color-light;

  &.main-nav__item_logo {
    justify-content: center;
  }
}

.main-nav__link {
  padding-left: 45px;

  @include strong-text(17px, 24px);

  &.main-nav__link_search::before {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    left: 35px;
    background-image: url("../img/icon-search.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }

  &.main-nav__link_cart::before {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    left: 35px;
    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.main-nav__menu-togler {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 40px;
  background-color: $main-backgound-color;
  border: none;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center center;

  &.main-nav__menu-togler_open {
    background-image: url("../img/icon-menu-open.svg");
  }

  &.main-nav__menu-togler_close {
    background-image: url("../img/icon-menu-close.svg");
  }
}
