
.modal-window {
  width: 260px;
  height: 260px;
  padding: 40px 30px;
  margin: 0 auto;
  border: 1px solid $gray-color-light;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}

.modal-window__title {
  width: 150px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0;
  text-align: center;

  @include strong-text(25px, 30px);
  text-transform: uppercase;
}

.modal-window__description {
  width: 150px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0;
  text-align: center;

  @include main-text(15px, 30px);
}

.modal-window__button {
  width: 260px;
  min-height: 50px;
  margin: 0 auto;
  background-color: $style-color-light;
  border: none;
  color: $main-backgound-color;
}

.modal-window__size-input {
  @include visually-hidden();
}

.modal-window__size-panel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.modal-window__size-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 50px;
  border: 2px solid $gray-color-light;
}

.modal-window__size-input:checked + .modal-window__size-label {
  border-color: $style-color-light;
}

@media (min-width: $tablet-width) {
  .modal-window {
    width: 366px;
    height: 260px;
    padding: 40px 100px;
  }

  .modal-window__title {
    width: 360px;

    @include strong-text(30px, 57px);
  }

  .modal-window__description {
    width: 360px;

    @include main-text(17px, 30px);
  }

  .modal-window__size-label {
    width: 100px;
  }
}
