
.pagination {
  display: flex;
  justify-content: center;
}

.pagination__button {
  width: 130px;
  height: 50px;

  background-color: #ffffff;
  border: 1px solid $gray-color-light;
}

.pagination__button_prev {
  border-right: none;
}
