.popular-product {
  padding: 30px;
}

.popular-product__header {
  margin-bottom: 30px;
}

.popular-product__title {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;

  @include strong-text(25px, 30px);
}

.popular-product__tag {
  margin: 0;
  padding: 0;

  @include strong-text(17px, 20px);
  color: $style-color-light;
  text-transform: uppercase;
}

.popular-product__description {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;

  @include main-text(15px, 24px);
}

.popular-product__product-properties {
  margin-bottom: 30px;
  width: 100%;
}

.popular-product__image {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

.popular-product__price {
  text-align: center;

  @include strong-text(17px, 24px, #444444);
}

@media (min-width: $tablet-width) {
  .popular-product {
    padding: 50px;
  }

  .popular-product__container {
    min-height: 410px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .popular-product__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }

  .popular-product__title {
    @include strong-text(43px, 50px);
  }

  .popular-product__tag {
    width: 75px;
    text-align: center;
    padding: 0 25px;
  }

  .popular-product__data {
    width: 290px;
  }

  .popular-product__description {
    @include main-text(17px, 30px);
  }

  .popular-product__order-panel {
    width: 290px;
  }

  .popular-product__image {
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 334px;
  }
}

@media (min-width: $desktop-width) {
  .popular-product__container {
    min-height: 635px;
  }

  .popular-product {
    padding: 75px 50px;
  }

  .popular-product__header {
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-top: 70px;
    z-index: 1;
  }

  .popular-product__title {
    @include strong-text(53px, 57px);
  }

  .popular-product__tag {
    padding: 0 50px;
  }

  .popular-product__data {
    margin-left: 175px;
  }

  .popular-product__order-panel {
    margin-top: auto;
    margin-left: 175px;
  }

  .popular-product__image {
    width: 525px;
  }
}
