.popular-product {
  position: relative;

  &::after {
    @include wave-line(5px);
  }
}

.popular-product__container {
  min-width: 260px;
  padding: 30px;
  padding-bottom: 42px;
}

.popular-product__header {
  margin-bottom: 20px;
}

.popular-product__title {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;

  @include strong-text(25px, 30px);
}

.popular-product__tag {
  margin: 0;
  padding: 0;

  @include strong-text(17px, 20px);
  color: $style-color-light;
  text-transform: uppercase;
}

.popular-product__description {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  @include main-text(15px, 24px);
}

.popular-product__product-properties {
  margin-bottom: 30px;
  width: 100%;
}

.popular-product__image {
  background-color: #f1f1f1;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.popular-product__price {
  text-align: center;
  margin: 0;
  margin-bottom: 25px;

  @include strong-text(17px, 24px, #444444);
}

@media (min-width: $tablet-width) {
  .popular-product {
    &::after {
      @include wave-line(15px);
    }
  }

  .popular-product__container {
    padding: 48px 50px;
    min-height: 534px;
    width: 668px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .popular-product__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
  }

  .popular-product__title {
    @include strong-text(43px, 50px);
  }

  .popular-product__tag {
    width: 75px;
    text-align: center;
    padding: 0 25px;
  }

  .popular-product__data {
    width: 290px;
  }

  .popular-product__description {
    margin-bottom: 35px;

    @include main-text(17px, 30px);
  }

  .popular-product__product-properties {
    margin-bottom: 55px;
  }

  .popular-product__price {
    margin-bottom: 34px;

    @include strong-text(20px, 24px, #444444);
  }

  .popular-product__order-panel {
    width: 290px;
  }

  .popular-product__image {
    margin: 0;
    position: absolute;
    bottom: 45px;
    right: 50px;
    width: 334px;
  }
}

@media (min-width: $desktop-width) {
  .popular-product {
    &::after {
      @include wave-line(20px);
    }
  }

  .popular-product__container {
    min-height: 635px;
    width: 1050px;
    padding: 50px;
    padding-top: 75px;
    padding-bottom: 95px;
  }

  .popular-product__header {
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-top: 50px;
    z-index: 1;
  }

  .popular-product__title {
    @include strong-text(53px, 57px);
  }

  .popular-product__tag {
    padding: 0 47px;
  }

  .popular-product__data {
    margin-left: 175px;
  }

  .popular-product__description {
    margin-bottom: 45px;
  }

  .popular-product__order-panel {
    margin-top: auto;
    margin-left: 175px;
    min-height: 110px;
  }

  .popular-product__image {
    width: 525px;
    bottom: 75px;
  }
}
