
.product-card {
  width: 260px;
  border: 1px solid $gray-color-light;
}

.product-card__info-wrapper {
  margin: 0 30px;
  padding: 20px 0;
  border-bottom: 1px solid $gray-color-light;
}

.product-card__title {
  margin: 0;

  @include strong-text(17px, 24px);
}

.product-card__description {
  margin: 0;

  @include main-text(13px, 30px);
}

.product-card__buy-wrapper {
  margin: 0 30px;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.product-card__price {
  margin: 0;

  @include strong-text(15px, 24px);
}
