
.product-card {
  width: 260px;
  border: 1px solid $gray-color-light;
}

.product-card:hover {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
}

.product-card__data-wrapper {
  padding: 30px;
}

.product-card__info-wrapper {
  min-height: 70px;
}

.product-card__title {
  margin: 0;

  @include strong-text(17px, 24px);
  cursor: pointer;
}

.product-card__link {
  text-decoration: none;
}

.product-card__title:hover {
  opacity: 0.6;
}

.product-card__title:active {
  opacity: 0.3;
}

.product-card__description {
  margin: 0;

  @include main-text(13px, 30px);
}

.product-card__buy-wrapper {
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-top: 1px solid $gray-color-light;
}

.product-card__price {
  margin: 0;

  @include strong-text(15px, 24px);
}

.product-card__cart-button {
  cursor: pointer;

  .product-card__cart-image {
    display: block;
    width: 25px;
    height: 25px;
    opacity: 0.2;
  }
}

.product-card__cart-button:hover {
  .product-card__cart-image {
    opacity: 1;

    path {
      fill: $style-color-light;
    }
  }
}

.product-card__cart-button:active {
  .product-card__cart-image {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .product-card {
    width: 668px;
    min-height: 334px;
    display: flex;
  }

  .product-card__image-wrapper {
    width: 334px;
    height: 334px;
  }

  .product-card__data-wrapper {
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .product-card__title {
    @include strong-text(20px, 24px);
  }

  .product-card__description {
    @include main-text(15px, 30px);
  }

  .product-card__price {
    @include strong-text(17px, 24px);
  }
}

@media (min-width: $desktop-width) {
  .product-card {
    width: 315px;
    min-height: 660px;
    display: flex;
    flex-direction: column;
  }

  .product-card__image-wrapper {
    width: 315px;
    height: 460px;
  }

  .product-card__data-wrapper {
    width: 255px;
    min-height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
