
.review {
  margin: 0;
  padding: 0;
}

.review__content {
  margin: 0;
  margin-bottom: 40px;

  @include main-text(15px, 30px);
}

.review__author-name {
  margin: 0;

  @include stront-text(17px, 24px);
}

.review__author-nickname {
  margin: 0;

  @include main-text(17px, 30px);
}
