.reviews__container {
  min-width: 260px;
  padding: 0 30px;
  padding-bottom: 40px;
  position: relative;
}

.reviews__title {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 25px;

  @include strong-text(25px, 30px);
}

.reviews__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 33px;
}

.reviews__pagination {
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .reviews__container {
    width: 668px;
    min-height: 385px;
    padding: 70px 50px;
    background-image: url("../img/review@1x.jpg");
    background-size: 350px auto;
    background-repeat: no-repeat;
  }

  .reviews__title {
    margin-left: -5px;
    margin-bottom: 50px;

    @include strong-text(43px, 50px);
  }

  .reviews__list {
    margin: 0;
  }

  .reviews__pagination {
    margin: 0;
    width: 167px;
    position: absolute;
    bottom: 115px;
    right: 55px;
  }

  .reviews__wtite-button {
    width: 140px;
    padding: 15px;
    margin: 10px 0;
    position: absolute;
    top: 66px;
    right: 50px;
  }
}

@media (min-width: $tablet-width) and (min-resolution: 144dpi),
  (min-width: $tablet-width) and (min-resolution: 1.5dppx) {
  .reviews__container {
    background-image: url("../img/review@2x.jpg");
    background-size: 350px auto;
  }
}

@media (min-width: $desktop-width) {
  .reviews__container {
    width: 875px;
    min-height: 360px;
    padding-top: 70px;
    padding-right: 0;
    padding-bottom: 100px;
    padding-left: 175px;
  }

  .reviews__title {
    @include strong-text(53px, 57px);
  }

  .reviews__pagination {
    bottom: 160px;
    right: 0;
  }

  .reviews__wtite-button {
    top: 70px;
    right: 0;
    margin: 15px 0;
  }
}
