
.review {
  margin: 0;
  padding: 0;
}

.review__content {
  margin: 0;
  margin-bottom: 40px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  text-decoration: none;
  color: #444444;
}

.review__author-name {
  margin: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}

.review__author-nickname {
  margin: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  font-size: 17px;
  line-height: 30px;
  color: #444444;
}

