.social-bar__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.social-bar__item {
  margin: 20px;
}

.social-bar__icon {
  display: block;
  height: 30px;
  width: 25px;
}

.social-bar__icon:hover {
  path {
    fill: $style-color-light;
  }
}

.social-bar__icon:active {
  opacity: 0.3;
}
