.text-field {
  padding: 7px 0;
  position: relative;
}

.text-field__label {
  display: block;
  margin-bottom: 10px;

  @include strong-text(17px, 18px);

  &.text-field__label_icon {
    position: absolute;
    height: 25px;
    width: 25px;
    margin: 0;
    padding: 0;
    right: 10px;
    top: 10px;
  }
}

.text-field__input {
  display: block;
  position: relative;
  min-height: 40px;
  min-width: 260px;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 2px solid black;
  background: transparent;

  @include main-text(17px, 18px);
}

.text-field__input:hover {
  border-color: $style-color-light;

  + .text-field__label_icon {
    fill: $style-color-light;
  }
}

.text-field__input:focus {
  outline: none;
  border-color: $style-color-light;

  + .text-field__label_icon {
    fill: $style-color-light;
  }
}

@media (min-width: $tablet-width) {
  .text-field {
    min-height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .text-field__label {
    margin: 0;
    padding-right: 25px;

    @include strong-text(19px, 20px);
  }

  .text-field__input {
    padding: 0 20px;
    flex-grow: 1;

    @include main-text(19px, 20px);
  }
}

@media (min-width: $desktop-width) {
  .text-field {
    width: 700px;
  }
}
