
@media (min-width: $tablet-width) {
  .wave-edge {
    width: 100%;
    height: 25px;
    position: relative;
    margin-top: -10px;
    background-image: url("../../img/bg-zigzag-fill.svg");
    background-size: contain;
  }

}
